body {
        font-family: Arial, sans-serif;
        background-color: #eef2f3;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #9647f5;
        color: white;
        padding: 20px;
        text-align: center;
      }
      .dashboard {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
      }
      .card {
        background-color: rgb(74, 206, 204);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 20px;
        padding: 20px;
      }
      h2 {
        text-align: center;
        color: #333;
      }
      h3{
        text-align:center;
        color:#333;
        font-size: 1.5em;
      }
      form input[type="text"],
      form input[type="number"] {
        width: 96%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      form button {
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        border: none;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
      }
      form button:hover {
        background-color: #45a049;
      }